
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recuperar contraseña</title>
        
    </head>
    <body class="todo bg-color1" >
        <h1>Recuperar contraseña</h1>
         <div class=" container ml-auto mr-auto flex items-center justify-center">
            

            <div class="w-full md:w-1/2">

                <form class=" bg- px-8 pt-6 pb-8 mb-4"></form>
                
                <div class="mb-4">
                    
                    <div class="grid grid-flow-row sm:grid-flow-row-col gap-3">
                        
                        <div class="sm:col-span-4 justify-center">
                           
                            <label class="block text-gray-700 text-sm font-bold mb-2 text-center " for = "nya">Cambiar contraseña</label>
                            <input class="shadow apparance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline " id="nya" type="text" placeholder="Nombre" name="nya" required >
                        </div>
                        
 
                    </div>

                </div>
            
            </div>
        </form>

         </div>

    </body>
    </html>
    
   


