---

---

<div class="bg-blueUwu rounded-md">
  <div  class="">
    <div class=" flex items-center justify-center text-blanquito font-bold text-xl row-span-4 text-center"> FECHA </div>
        <div class="bg-opacity-65">
        <span class="bi bi-arrow-90deg-left bg-blanquito "></span> 
    </div>
    <div>
        <span class="bi bi-x-lg"></span>
    </div>
  </div>
</div>
