---
import Button from "../components/hRecuperarContraseña/button.astro";
import Input from "../components/hRecuperarContraseña/input.astro";
import Layout from "../layouts/Layout.astro";



// src/pages/PagPrincipal.astro
---

<Layout title="Inicio sesion">
  
   <div class="container ml-auto mr-auto  justify-center flex flex-row ">
        <div class=" w-50% px-8 pt-6 pb-8  bg-color4 h-5/6  rounded mt-20 
         text-center text-color1 justify-center">
            
                    <h1 class="text-2xl">PUP</h1>
                    <img class="h-56 w-52" src="../../public/img/logoPUP.png" alt="">
                    <p>Presupesto para unidades productivas</p>

            
        </div>

        <div class=" flex items-center justify-center">
            <form
                class="bg- px-8 pt-6 pb-8 mb-4 bg-color1 h-5/6 rounded mt-20"
            >
                <div
                    class=" grid grid-flow-row sm:grid-flow-row-col gap-3 text-center"
                >
                    <h1 class="text-2xl">Inicio sesion</h1>
                    <h3>
                        Ingresa tu correo para obtener el codigo de restablecer
                        tu contraseña
                    </h3 > 
                    <div class="w-75%">
                       <Input type="text" placeholder="correo" />
                    <Input type="text" placeholder="Contraseña" /> 
                    </div>
                    
                   
                    <a href="/cambiarContraseña">
                        <Button Text="Iniciar Sesion "></Button>
                    </a>
                   
                </div>
            </form>
        </div>
    </div>
    
</Layout>
