---
interface Props {//inputs reutilizable
placeholder:string
type: "text" | "email"|"password";

}
const {placeholder, type} = Astro.props;

---
<div>
    <label for=""></label>
<input type={type}
placeholder={placeholder}
required 
class=" mb-2 apparance-none rounded py-2 px-3 
text-color2 leading-tight focus:outline-none focus:shadow-outline w-auto justify-center shadow-xl">

</div>