---
// Layout.astro
import "../components/styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiar</title>
  </head>
  <body class="bg-gray-50 text-gray-800">
    <slot />
  </body>
</html>
