---
interface props {}
---

<section class="modal">
  <div class="modal_container">
    <img />
    <h2 class="modal_title">!Bienvenido al sitio!</h2>
    <p class="modal_paragraph">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum ipsa tenetur
      natus incidunt voluptatum culpa corrupti doloremque sit expedita totam,
      atque nam? Placeat maiores ducimus inventore esse rem! Explicabo, amet!
    </p>
    <a href="#" class="modal_close">Cerrar modal</a>
  </div>
</section>
