---
// src/pages/dashboard.astro

import Header from "../components/siderbarDashboard/HeaderDas.astro";
import Dashboard from "../components/siderbarDashboard/DashboardDas.astro";
import SidebarDas from "../components/siderbarDashboard/SidebarDas.astro";
import DealsTableDas from "../components/siderbarDashboard/DealsTableDas.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <Header />
    <Dashboard />
    <SidebarDas />
    <div class=" flex justify-end ">
    <DealsTableDas />
  </div>
    

   
    
  </body>
</html>
