---
import Fecha from "../components/Empresarial/Fecha.astro";
import NavbarEmpresarial from "../components/Empresarial/Navbar/NavbarEmpresarial.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <NavbarEmpresarial />
    </div>
    <div class=" p-40 px-96 ">
      <Fecha />
    </div>
  </body>
</html>
