---
import Fecha from "../components/Empresarial/Fecha.astro"
import NavbarEmpresarial from "../components/Empresarial/Navbar/NavbarEmpresarial.astro"

---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <NavbarEmpresarial/>
    <Fecha/>
</body>
</html>