---
// src/components/DealsTable.astro
---
<div class="bg-white shadow rounded p-6">
    <h2 class="text-2xl font-semibold mb-4">Deals Details</h2>
    <table class="w-full text-left">
      <thead>
        <tr class="text-gray-500">
          <th class="pb-2">Product Name</th>
          <th class="pb-2">Location</th>
          <th class="pb-2">Date - Time</th>
          <th class="pb-2">Piece</th>
          <th class="pb-2">Amount</th>
          <th class="pb-2">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-t">
          <td class="py-2">Apple Watch</td>
          <td class="py-2">6096 Marjolaine Landing</td>
          <td class="py-2">12.09.2019 - 12.53 PM</td>
          <td class="py-2">423</td>
          <td class="py-2">$34,295</td>
          <td class="py-2"><span class="text-green-500">Delivered</span></td>
        </tr>
        <tr class="border-t">
          <td class="py-2">Apple Watch</td>
          <td class="py-2">6096 Marjolaine Landing</td>
          <td class="py-2">12.09.2019 - 12.53 PM</td>
          <td class="py-2">423</td>
          <td class="py-2">$34,295</td>
          <td class="py-2"><span class="text-yellow-500">Pending</span></td>
        </tr>
        <tr class="border-t">
          <td class="py-2">Apple Watch</td>
          <td class="py-2">6096 Marjolaine Landing</td>
          <td class="py-2">12.09.2019 - 12.53 PM</td>
          <td class="py-2">423</td>
          <td class="py-2">$34,295</td>
          <td class="py-2"><span class="text-red-500">Rejected</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  