<!-- src/pages/index.astro -->
---
import Navbar ---'../components/NavbarDas.astro';---
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/dist/output.css">
  </head>
  <body>
    <Navbar />
    <div class="p-6">
      <!-- Your content goes here -->
    </div>
  </body>
</html>
