<div class="w-64 bg-Morado text-white min-h-screen p-4">
  <div class="flex items-center justify-center mb-8">
    <img src="../../../public/img/LOGO PUP(1).png" alt="PUP Logo" class="h-10">
  </div>
  <nav>
    <ul>
      <li class="flex items-center mb-4 p-2 space-x-2">
        <img src="../../../public/img/home1.png" class="w-6 h-6 mr-2">
        <span class="text-lg">Inicio</span>
      </li>
      <li class="flex items-center mb-4 p-2 space-x-2">
        <img src="../../../public/img/empresarial.png" class="w-6 h-6 mr-2">
        <span class="text-lg">Empresarial</span>
      </li>
      <li class="flex items-center mb-4 p-2 space-x-2">
        <img src="../../../public/img/familiar.png" class="w-6 h-6 mr-2">
        <span class="text-lg">Familiar</span>
      </li>
      <li class="flex items-center mb-4 p-2 space-x-2">
        <img src="../../../public/img/personal.png" class="w-6 h-6 mr-2">
        <span class="text-lg">Personal</span>
      </li>
      <li class="fixed bottom-0 left-0 p-2 mb-4">
        <img src="../../../public/img/salir.png" class="w-6 h-6 mr-2 text-red-500">
        <span class="text-lg">Salir</span>
      </li>
    </ul>
  </nav>
</div>