---
// src/components/Sidebar.astro
---
<div class="w-64 bg-purple-700 text-white min-h-screen p-4">
    <div class="flex items-center justify-center mb-8">
      <img src="../../../public/img/LOGO PUP(1).png" alt="PUP Logo" class="h-10">
    </div>
    <nav>
      <ul>
        <li class="flex flex-row mb-4 p-2 space-x-2"><img src="../../../public/img/home1.png"class="flex items-center space-x-2"><span class="material-icons"></span>Inicio<span></span></img></li>
        <li class="flex flex-row mb-4 p-2 space-x-2"><img src="../../../public/img/empresarial.png" class="flex items-center space-x-2"><span class="material-icons">business</span><span>Empresarial</span></a></li>
        <li class="flex flex-row mb-4 p-2 space-x-2"><img src="../../../public/img/familiar.png" class= "flex items-center space-x-2"><span class="material-icons">group</span> <span>Familiar</span></a></li>
        <li class="flex flex-row mb-4 p-2 space-x-2"><img src="../../../public/img/personal.png" class="flex items-center space-x-2"><span class="material-icons">person</span> <span>Personal</span></a></li>
        <li class="flex flex-row mb-4 p-2 space-x-2"><img src="../../../public/img/contactanos.png" class="flex items-center space-x-2"><span class="material-icons">contact_mail</span> <span>Contáctanos</span></a></li>
        <li class=""><a href="#"class="flex items-center space-x-2 text-red-500"><span class="material-icons"></span> <span>Salir</span></a></li>
      </ul>
    </nav>
  </div>
