<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recuperar contrase침a</title>
        
    </head>
    <body class="todo bg-white" >
        
         <div class=" container ml-auto mr-auto flex items-center justify-center  ">
            

            <div class="w-full md:w-1/3">

                <form class=" bg- px-8 pt-6 pb-8 mb-4 bg-color1 h-75% rounded mt-20 ">
                    
                <div class="mb-4">
                    
                    <div class="grid grid-flow-row sm:grid-flow-row-col gap-3">

                        <div class="justify-center text-center w-auto ">
                            <h1 class="mb-4 text-2xl">Recuperar contrase침a</h1>
                            <h3 class="text-black mb-4">Ingresa tu correo para obtener el c칩digo de restrablecer contrase침a</h3>
                          </div>

                       
                
                        <div class="sm:col-span-4 justify-center ">
                           
                            <input class="shadow mb-2 apparance-none rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline "
                             id="nya" type="text" placeholder="Correo" name="nya" required >
                           <button type="submit" class=" w-full bg-color2 py-2 px-3 rounded"><a href="" class="text-color3">Obtener Codigo</a></button>
                             
                        </div>
                        
                        
 
                    </div>

                </div>
            
            </div>
        </form>

         </div>

    </body>
    </html>